<div class="container-fluid bg-light card mb-5">
  <div class="card-header bg-dark text-white text-center">
    <h5><b><strong>Swagger UI (Read-Only)</strong></b></h5>
    <p>Note: Below Swagger UI is just for API mapping ONLY and will NOT be executing the real API calls.
      <br>
      For native Conductor server Swagger UI <a href="{{server_swagger_url}}" class="text-info" target="_blank"><strong><u>Click Here</u></strong></a>
    </p>
  </div>
  <div class="card-body" id="swagger-ui"></div>
</div>
</ng-template>
