<div class="container-fluid bg-secondary card mt-2">
    <div class="card-header text-center text-white">
        <h5><b>Task Detail - In Progress Tasks</b></h5>
    </div>
</div>
<div class="container-fluid mt-2 mb-2">
    <div *ngIf="!error_message && !result" class="loading">Loading...</div>

    <div *ngIf="error_message" class="alert alert-warning mt-2" role="alert">
        {{error_message}}
    </div>
    
    <div *ngIf="result" class="alert alert-primary mt-2 text-center" role="alert">
        {{result}}
    </div>

    <div class="alert alert-danger mt-2 text-center" role="alert">
        The results listed below might be innacurate if there are other System Tasks (like WAIT etc.) with same name !!!
    </div>

    <table *ngIf="tasks_list" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <th class="text-center text-muted">#</th>
            <th class="text-center">Task Name</th>
            <th class="text-center">Workflow Name</th>
            <th class="text-center">Task ID</th>
            <th class="text-center">Workflow Instance ID</th>
            <th class="text-center">Task Status</th>
            <th class="text-center">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks_list ; index as task_counter">
                <td class="text-center text-muted">{{task_counter+1}}</td>
                <td class="text-center">{{task.taskType}}</td>
                <td class="text-center">{{task.workflowType}}</td>
                <td class="text-center">{{task.taskId}}</td>
                <td class="text-center">{{task.workflowInstanceId}}</td>
                <td class="text-center">{{task.taskStatus}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-info btn-sm" (click)="show_workflow_execution_details(task.workflowInstanceId)">Details</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary btn-lg btn-block mt-2 mb-2" (click)="back_to_task_detail()">Back - Task Detail</button>
</div>